%ul
  %li
    = link_to "Home", "/index.html", :relative => true
  %li
    = link_to "Tutorial (comming soon)", "/tutorial.html", :relative => true
  %li
    %a(href="https://github.com/myokoym/baseball-ruby") GitHub
