---
title: A library for baseball applications with Ruby
---

%section.content
  %h2 What's this?
  A library for baseball applications with
  <a href="https://www.ruby-lang.org/">Ruby</a>.

  %h2 Introduction
  %div.highlight
    ~ partial "introduction"
